.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 440px;
    height: 56px;
    min-height: 56px;

    padding-left: 16px;
    padding-right: 16px;
    gap: 12px;

    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}